:root{
    --inv-orange: #FF3C00;
    --inv-purple: #8800FF;
    --inv-dark-blue: #251758;
    --inv-light-orange: #F8B08A;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/**
 ** NAVIGATION 
 **/
nav {
    height: 40px;
    font-size: 1rem;
    padding-top: 16px;
    padding-bottom: 16px;
}
    nav img {
        height: 40px;
    }
    nav ul{
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
        nav ul li{
            flex: 1;
        }
        nav ul a{
            text-decoration: none;
        }

footer{
    background-color: black;
    padding: 64px;
    color: white;
}

/**
 ** SECTIONS 
 **/

section .section-title{
    text-transform: uppercase;
    font-weight: 800;
    color: #d6a155;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid;
    display: inline-block;
    margin-right: auto;
    text-align: left !important;
    float: left;
}

#hero {
    height: 90vh;
    padding: 24px;
    box-sizing: border-box;
    background: /* var(--inv-purple) */ url(./img/hero-bg-edited.jpeg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: black;
}
    #hero h1{
        font-size: 4rem;
        max-width: 700px;
    }
    #hero p{
        font-size: 1.5rem;
        max-width: 600px;
    }

#quienes-somos {
    min-height: 110vh;
    padding: 24px;
    box-sizing: border-box;
    background-image: url(./img/wave.svg), linear-gradient(120deg, var(--inv-purple), var(--inv-dark-blue));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 101%;
    background-color: black;
    color: white;
}
    #quienes-somos h1{
        font-size: 3rem;
        max-width: 600px;
    }
    #quienes-somos p{
        font-size: 1.5rem;
    }
    #quienes-somos #steps{
        list-style: none;
        margin: 16px 0px;
        padding: 0px;
        display: flex;
        /* overflow: auto; */
        flex-wrap: wrap;
    }
        #quienes-somos #steps li{
            flex: 1;
            position: relative;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
        }
        #quienes-somos li .step-number{
            /* color: rgba(255, 255, 255, 0.4); */
            color: var(--inv-dark-blue);
            font-size: 200px;
            font-weight: 900;
            position: absolute;
        }
        #quienes-somos li .step-description{
            position: relative;
            z-index: 1;
            color: white;
            font-weight: 900;
            font-size: 2rem;
            max-width: 15rem;
        }

#nuestros-servicios{
    padding: 24px;
    min-height: 50vh;
    background: linear-gradient(white, rgb(224, 218, 229));
}
    #nuestros-servicios h1{
        font-size: 3rem;
    }
    #nuestros-servicios #roles{
        display: flex;
        column-gap: 24px;
        row-gap: 24px;
        flex-wrap: wrap;
    }
        #nuestros-servicios #roles .card{
            border-radius: 24px;
            padding: 24px;
            flex: 1;
            color: rgba(255, 255, 255, 0.7);
            background-color: var(--inv-orange);
            background-size: cover;
            background-position: center;
            background-blend-mode: soft-light;
        }
        #nuestros-servicios #role-investor{
            background: url(./img/investor.jpg);
        }
        #nuestros-servicios #role-entrepeneur{
            background: url(./img/entrepeneur.jpg);
        }
            #nuestros-servicios #roles h2{
                font-weight: 900;
                font-size: 2rem;
                margin: 1rem 0;
            }
            #nuestros-servicios #roles ul{
                font-size: 1rem;
                color: white;
            }  
                #nuestros-servicios #roles li{
                    margin: 1rem 0;
                }

#el-futuro-de-invertir{
    padding: 24px;
    background-color: rgb(224, 218, 229);
    text-align: right;
    min-height: 90vh;
}
    #el-futuro-de-invertir h1{
        font-size: 4rem;
        font-weight: 900;
        background: linear-gradient(130deg, var(--inv-orange), var(--inv-purple));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 600px;
        display: inline-block;
    }
    #el-futuro-de-invertir p{
        font-size: 1.4rem;
        max-width: 800px;
        margin-left: auto;
    }
    #el-futuro-de-invertir #features-cont {
        margin-top: 4rem;
        display: flex;
        text-align: left;
        column-gap: 24px;
        row-gap: 24px;
        flex-wrap: wrap;
    }
    #el-futuro-de-invertir #features-cont > div {
        text-align: left;
        padding: 24px;
        background-color: white;
        display: inline-block;
        border-radius: 24px;
    }
    #el-futuro-de-invertir #features-cont h2{
        font-size: 2rem;
        margin: 1rem 0;
    }
    #el-futuro-de-invertir #features-cont ul{
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1rem;
    }
    #el-futuro-de-invertir #features-cont li{
        padding: 1rem 0;
        border-bottom: 0.5px solid;
    }


#contacto{
    padding: 24px;
    background-color: rgb(224, 218, 229);
    min-height: 90vh;
}
    #contacto h1{
        font-size: 4rem;
        font-weight: 900;
    }
    #contacto form{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        align-items: flex-start;
    }
    #contacto input, 
    #contacto textarea{
        border: none;
        border-bottom: 1px solid;
        font-size: inherit;
        margin: 8px 0px;
        padding: 4px;
    }
    #contacto input[type="submit"]{
        background: black;
        color: white;
    }